<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="homepage.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits>
          <headerLimits>
            <add header="Content-type" sizeLimit="204800" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <!--<add name="DBCS" connectionString="workstation id=SeleniumHub.mssql.somee.com;packet size=4096;user id=seleniumhub93_SQLLogin_2;pwd=wgtinetrh8;data source=SeleniumHub.mssql.somee.com;persist security info=False;initial catalog=SeleniumHub"
      providerName="System.Data.SqlClient" />-->
    <add name="DBCS" connectionString="Data Source=JARVIS-PC;Initial Catalog=DEMOAUT;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="204800" executionTimeout="1200" />
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
</configuration>
